/* Benutzerdefinierte Stile unten platzieren */
.col-sharepoint-offset {
    margin-left: 190px;
}
.firstrow {
    margin-top: 35px;
}
.margin-top-50 {
    margin-top: 50px;
}
.panel-head-button {
    margin-top: -6px;
}
.modal-dialog {
    margin-top: 10%;
}
.form-group {
    height: 35px;
}
.label-margin-top-5 {
    margin-top: 5px;
}